@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #25ddffdf;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Titillium Web', 'Murecho', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-shadow: 0 0 4px #00cccc;
}

h1, h2, h3, h4, h5, h6 {
  	font-family: 'Rationale', 'Kosugi Maru', sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  border-bottom: 2px solid #a0faffdf;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: #a6faffdf;
  text-shadow: 0 0 6px #00ffff;
}

a {
  text-decoration: underline;
  transition: all 0.3s ease;
}

h2 a {
  text-decoration: none;
}

h3 {
  font-size: 1.35rem;
  border-left: 4px solid #a0faffdf;
  color: #a6faffdf;
  text-shadow: 0 0 4px #00ffff;
  padding-left: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

a:hover {
  color: #afcfffe6;
}

h2 a:hover {
    text-decoration: underline;
}

div.footer {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #25ddffdf;
  text-shadow: 0 0 4px #00cccc;
}

ul {
  list-style:circle;
  margin-left: 1.5rem;
}