div.container {
    margin: 24px;
    border:#afcfffe6 1px solid;
    border-radius: none;
    background-color: #001fff20;
}

span.breadcrumb {
    display: inline;
    margin: 8px;
    font-size: 1rem;
    color: #cccccc;
}

span.breadcrumb a {
    color: #ccecfc;
    text-decoration: none;
}

span.breadcrumb a:hover {
    text-decoration: underline;
}

div.cardlist {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

span.card {
    width: 75%;
    max-width: 650px;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    transition: box-shadow 0.2s ease;
}

span.card:nth-child(odd) {
    align-self: flex-start;
}

span.card:nth-child(even) {
    align-self: flex-end;
}

h1.title {
    display: inline-block;
    padding: 0px 8px;
    margin: 0px;
    font-size: 2rem;
    color: #25ddffdf;
    text-shadow: none;
    border:#afcfffe6 1px solid;
    background-color: #101430;
    margin-top: -16px;
    margin-left: -16px;
}