div.container {
    margin: 24px auto;
    padding: 0 24px;
    border:#afcfffe6 1px solid;
    border-radius: 0;
    background-color: #001fff20;
    max-width: min(1200px, 100% - 48px);
}

span.breadcrumb {
    display: inline;
    margin: 8px;
    font-size: 1rem;
    color: #cccccc;
}

span.breadcrumb a {
    color: #ccecfc;
    text-decoration: none;
}

span.breadcrumb a:hover {
    text-decoration: underline;
}

div.noticebox {
    margin: 16px auto;
    padding: 12px;
    max-width: calc(100% - 40px);
    border: #ffcc00 1px solid;
    border-radius: 8px;
    background-color: #66660066;
    color: #ffff99;
    font-size: 1rem;
    text-shadow: 0px 0px 4px #ffff99;
}

div.cardlist {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

span.card {
    width: 75%;
    max-width: 650px;
    padding: 1.25rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    transition: box-shadow 0.2s ease;
}

span.card:nth-child(odd) {
    align-self: flex-start;
}

span.card:nth-child(even) {
    align-self: flex-end;
}

h1.title {
    display: inline-block;
    padding: 0px 8px;
    margin: 0px;
    font-size: 2rem;
    color: #25ddffdf;
    text-shadow: none;
    border:#afcfffe6 1px solid;
    background-color: #101430;
    margin-top: -16px;
    margin-left: -40px;
}

@media (max-width: 1000px) {
    span.card {
        width: 70%;
    }
}

@media (max-width: 640px) {
    div.container {
        padding: 0 6px;
        
    }

    h1.title {
        font-size: 1.85rem;
        margin-left: -20px;
    }

    span.card {
        width: 100%;
        padding: 1rem;
    }
}